In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [2]:
train_data=pd.read_csv("0000000000002429_training_titanic_x_y_train.csv",delimiter=",")
test_data=pd.read_csv("0000000000002429_test_titanic_x_test.csv",delimiter=",")
train_data.shape,test_data.shape

((668, 11), (223, 10))

In [3]:
del train_data["Name"]
del test_data["Name"]
del train_data["Ticket"]
del test_data["Ticket"]
train_data.head(25)

    Pclass     Sex   Age  SibSp  Parch      Fare Cabin Embarked  Survived
0        2  female  29.0      1      0   26.0000   NaN        S         1
1        3    male   NaN      0      0    8.0500   NaN        S         0
2        2    male  39.0      0      0   26.0000   NaN        S         0
3        3  female  29.0      0      4   21.0750   NaN        S         0
4        3    male  25.0      0      0    7.0500   NaN        S         0
5        3    male  34.5      0      0    6.4375   NaN        C         0
6        1  female  35.0      1      0   53.1000  C123        S         1
7        3    male  23.0      0      0    7.8958   NaN        S         0
8        2    male   NaN      0      0   13.0000   NaN        S         1
9        3    male  50.0      0      0    8.0500   NaN        S         0
10       3  female  23.0      0      0    7.5500   NaN        S         1
11       3    male   NaN      0      0    7.2292   NaN        C         0
12       2    male  36.0      0      0   13.0000   NaN        S         0
13       3    male   NaN      1      0   15.5000   NaN        Q         0
14       3  female   NaN      0      0    7.7500   NaN        Q         1
15       3    male  28.0      2      0    7.9250   NaN        S         0
16       3    male  32.0      0      0    7.8542   NaN        S         1
17       3    male  42.0      0      0    7.5500   NaN        S         0
18       1    male  38.0      0      1  153.4625   C91        S         0
19       3  female   NaN      0      0    7.7500   NaN        Q         1
20       1    male  38.0      0      0    0.0000   NaN        S         0
21       3  female   NaN      0      2   15.2458   NaN        C         0
22       2  female  40.0      0      0   15.7500   NaN        S         1
23       3    male  24.5      0      0    8.0500   NaN        S         0
24       3  female   NaN      0      0    7.2250   NaN        C         1

In [4]:
def f1(s):
    if s=="S":
        return 1
    else:
        return 0
#
def f2(s):
    if s=="Q":
        return 1
    else:
        return 0
#
def f3(s):
    if s=="C":
        return 1
    else:
        return 0

In [5]:
train_data["S"]=train_data.Embarked.apply(f1)
test_data["S"]=test_data.Embarked.apply(f1)
train_data["Q"]=train_data.Embarked.apply(f2)
test_data["Q"]=test_data.Embarked.apply(f2)
train_data["C"]=train_data.Embarked.apply(f3)
test_data["C"]=test_data.Embarked.apply(f3)
del train_data["Embarked"]
del test_data["Embarked"]
train_data

     Pclass     Sex   Age  SibSp  Parch     Fare Cabin  Survived  S  Q  C
0         2  female  29.0      1      0  26.0000   NaN         1  1  0  0
1         3    male   NaN      0      0   8.0500   NaN         0  1  0  0
2         2    male  39.0      0      0  26.0000   NaN         0  1  0  0
3         3  female  29.0      0      4  21.0750   NaN         0  1  0  0
4         3    male  25.0      0      0   7.0500   NaN         0  1  0  0
..      ...     ...   ...    ...    ...      ...   ...       ... .. .. ..
663       2  female  17.0      0      0  10.5000   NaN         1  1  0  0
664       3    male   NaN      0      0   7.7500   NaN         0  0  1  0
665       3    male  32.0      0      0  56.4958   NaN         1  1  0  0
666       3  female  22.0      0      0   9.8375   NaN         0  1  0  0
667       3  female   NaN      1      0  15.5000   NaN         1  0  1  0

[668 rows x 11 columns]

In [6]:
import numpy as np

def f4(x):
    if x==np.nan:
        return 0
    else:
        return 1
#
def f5(x):
    if x=="male":
        return 1
    else:
        return 0

In [7]:
train_data["Cabin"]=train_data.Cabin.apply(f4)
test_data["Cabin"]=test_data.Cabin.apply(f4)
train_data["Sex"]=train_data.Sex.apply(f5)
test_data["Sex"]=test_data.Sex.apply(f5)
train_data

     Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Survived  S  Q  C
0         2    0  29.0      1      0  26.0000      1         1  1  0  0
1         3    1   NaN      0      0   8.0500      1         0  1  0  0
2         2    1  39.0      0      0  26.0000      1         0  1  0  0
3         3    0  29.0      0      4  21.0750      1         0  1  0  0
4         3    1  25.0      0      0   7.0500      1         0  1  0  0
..      ...  ...   ...    ...    ...      ...    ...       ... .. .. ..
663       2    0  17.0      0      0  10.5000      1         1  1  0  0
664       3    1   NaN      0      0   7.7500      1         0  0  1  0
665       3    1  32.0      0      0  56.4958      1         1  1  0  0
666       3    0  22.0      0      0   9.8375      1         0  1  0  0
667       3    0   NaN      1      0  15.5000      1         1  0  1  0

[668 rows x 11 columns]

In [8]:
train_data["Age"].fillna(train_data.Age.mean(),inplace=True)
test_data["Age"].fillna(test_data.Age.mean(),inplace=True)
train_data.describe()

,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Survived,S,Q,C
count,668.000000,668.000000,668.000000,668.000000,668.000000,668.000000,668.0,668.000000,668.000000,668.000000,668.000000
mean,2.296407,0.639222,29.700560,0.528443,0.407186,32.064552,1.0,0.402695,0.724551,0.074850,0.199102
std,0.831638,0.480586,12.753571,1.080327,0.854695,45.320835,0.0,0.490808,0.447075,0.263347,0.399624
min,1.000000,0.000000,0.670000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,23.000000,0.000000,0.000000,7.925000,1.0,0.000000,0.000000,0.000000,0.000000
50%,3.000000,1.000000,29.700560,0.000000,0.000000,14.750000,1.0,0.000000,1.000000,0.000000,0.000000
75%,3.000000,1.000000,35.000000,1.000000,0.000000,31.275000,1.0,1.000000,1.000000,0.000000,0.000000
max,3.000000,1.000000,80.000000,8.000000,6.000000,512.329200,1.0,1.000000,1.000000,1.000000,1.000000

In [9]:
y_train=train_data["Survived"]
y_train=y_train.values
y_train
x_train=train_data.drop("Survived",axis=1)
x_train=x_train.values
x_test=test_data.values
x_train

array([[ 2.       ,  0.       , 29.       , ...,  1.       ,  0.       ,
         0.       ],
       [ 3.       ,  1.       , 29.7005597, ...,  1.       ,  0.       ,
         0.       ],
       [ 2.       ,  1.       , 39.       , ...,  1.       ,  0.       ,
         0.       ],
       ...,
       [ 3.       ,  1.       , 32.       , ...,  1.       ,  0.       ,
         0.       ],
       [ 3.       ,  0.       , 22.       , ...,  1.       ,  0.       ,
         0.       ],
       [ 3.       ,  0.       , 29.7005597, ...,  0.       ,  1.       ,
         0.       ]])

In [10]:
clf=LogisticRegression()

In [11]:
clf.fit(x_train,y_train)

C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [12]:
y_test_pred=clf.predict(x_test)

In [13]:
clf.score(x_test,y_test_pred)

1.0

In [14]:
np.savetxt('titanic_pred.csv',y_test_pred)